html {
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    color: #dedede;
    font-size: 16px;
}

.opening {
    margin: 100px auto 0px auto;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 80%;
    text-align: center;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
    min-width: 533px;
}

.opening h1 {
    font-size: 78px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.opening h2 {
    font-size: 20px;
    text-shadow: 0px 1px 6px rgba(0,0,0,0.6);
}

.opening a {
    color: #dedede;
}

.opening a:hover {
    text-decoration: none;
}

#interventions-div {
    display: none;
}

#chart-gen-photo {
    height: auto;
    display: block;
    margin: auto auto;
    padding: 10px;
    width: 70%;
}

.project-link {
    display: inline-block;
    width: 40%;
    height: 244px;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #191919;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3)
}

#chart-gen-link {
    font-weight: 600;
}